.jumbotron {
  padding-left: 24px;
  padding-right: 24px;
}

.custom-logo {
  height: 24px;
  width: 24px;
}

.white-box {
  background-color: white;
  padding: 15px;
}

/* for both folder tabs and comment section */
.tab-pane {
  display: none;
}

.active {
  display: block;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
